/* :hover 시 테두리 애니메이션을 적용시키는 스타일. */
.interactive-border-black {
    border: 2px solid rgba(0, 0, 0, 0.3);

    transition: all ease-in 0.1s;

    &:hover {
        border-color: rgba(0, 0, 0, 0.6);
    }
}

/* 둥근 테두리 스타일. */
.round-border {
    border-radius: 15px;
}