.interactive-border-black {
    border: 2px solid rgba(0, 0, 0, 0.3);

    transition: all ease-in 0.1s;

    &:hover {
        border-color: rgba(0, 0, 0, 0.6);
    }
}

.round-border {
    border-radius: 15px;
}