.clicker-area {
    /* 영역 크기 지정(뷰포트 사이즈로) */
    width: 80vw;
    height: 90vh;

    /* margin 지정(top: 10px, 양 옆은 가운데로 맞춤) */
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;

    /* background 설정 */
    background-color: rgb(249, 249, 249);

    /* box-sizing 지정 */
    box-sizing: border-box;
}

.clicker-area-text {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.3);
    transition: all ease-in 0.05s;
}

.clicker-area:hover > .clicker-area-text {
    font-size: 26px;
}

.clicker-area:active > .clicker-area-text {
    font-size: 22px;
}