.login-like-input-group {
    & > label.login-like-label {
        font-size: 12px;
    }

    & > input.login-like-input {
        width: 100%;
        height: 28px;

        text-indent: 8px;
    }
}