/* LogInLikeInput 묶기. */
.login-like-input-group {
    & > label.login-like-label {
        font-size: 12px;
    }

    & > input.login-like-input {
        width: 100%;
        height: 28px;

        /* placeholder 및 text value에 대해 들여쓰기 여백 8px 적용. */
        text-indent: 8px;
    }
}