/* 기본 Menu 스타일 정의. */
#menu-component {
    /* 기본적으로 숨겨져 있음. */
    visibility: hidden;
    /* 부모 기준 고정 좌표. */
    position: fixed;

    /* 윗쪽으로 0px 고정 + 오른쪽으로 0px 고정 */
    top: 0px;
    right: 0px;

    width: 290px;
    height: 100vh;

    /* x 방향으로는 숨기고 y 방향으로는 스크롤 바 적용. */
    overflow-x: hidden;
    overflow-y: auto;

    background-color: white;

    /* 기본적으로 메뉴는 오른쪽으로 나가있음. */
    transform: translateX(100%);
    transition: all ease-out 0.25s;

    /* 바로 밑 모든 자식들의 윗쪽 margin: 0px 적용. */
    & > * {
        margin-top: 0px;
    }

    /* 상태 분리 - appear 및 normal 클래스에 대해서는 원래 자리(화면 안) 복귀. */
    &.menu-appeared,
    &.menu-normal {
        visibility: visible;

        transform: translateX(0%);
    }

    /* 사라지는 애니메이션 구현. */
    &.menu-disappeared {
        visibility: visible;

        transform: translateX(100%);
    }
}

/* 애니메이션 적용 중인, 또는 메뉴가 열린 상태의 Menu를 html 또는 body가 보유 시 y 넘침 숨기기. */
html,
body {
    &:has(.menu-component.menu-appeared),
    &:has(.menu-component.menu-normal),
    &:has(.menu-component.menu-disappeared) {
        overflow-y: hidden;
    }
}