/* SettingPage의 메인 영역 스타일 정의. */
#setting-page-area {
    /* y로 넘치는 것에 대해 스크롤 바 적용. */
    overflow-y: auto;

    width: 100%;
    height: 80%;

    /* 자식 중 바로 밑의 SettingLine margin 적용. */
    & > .setting-line {
        margin: 25px;
    }
}

.setting-line {
    display: flex;
    flex-direction: row;
    /* 사이 사이를 띄워 배치. */
    justify-content: space-between;
    align-items: center;

    height: 50px;

    padding: 22px;
}

/* name과 description을 담는 메인 컨테이너. */
.setting-line-main-container {
    display: flex;
    flex-direction: column;
    /* 열 기준 왼쪽(시작)으로 정렬. */
    align-items: start;

    /* 그 밑의 모든 요소 margin: 없음. */
    & > * {
        margin: 0px;
    }
}

.setting-line-name {
    font-size: 16px;
}

.setting-line-description {
    font-size: 12px;
}

.setting-boolean-button {
    width: 100px;
    height: 35px;

    font-size: 12px;
}