/* Shop 메인 스타일 정의. */
#shop-component {
    width: 90%;

    padding: 5px 0px;

    margin: 30px auto;
}

/* ShopItemLine 메인 스타일 정의. */
.shop-item-line-component {
    width: auto;
    height: 123px;

    margin-bottom: 25px;

    padding: 15px;
    
    position: relative;
}

/* ShopItemLine 중 name과 level을 담는 메인 컨테이너. */
.shop-item-line-main-container {
    display: flex;
    flex-direction: row;
    /* flex에서만 사용 가능. */
    /* end와 보이는 것은 동일. */
    align-items: flex-end;
}

/* h1(name)과 p(level 등등)의 margin 조절. */
.shop-item-line-component h1,
.shop-item-line-component p {
    margin-top: 0px;
    margin-bottom: 5px;
}

.shop-item-line-name {
    font-size: 16pt;

    margin-right: 4px;
}

.shop-item-line-level {
    font-size: 14pt;
}

.shop-item-line-description {
    font-size: 12pt;
}

.shop-item-line-value {
    font-size: 12px;
    font-style: italic;
}

/* ShopItemLine의 버튼을 담는 컨테이너. */
.shop-item-line-button-container {
    margin-top: 12px;

    display: flex;
    flex-direction: row;
    /* 행 기준 끝부터 배치. */
    justify-content: end;
}

.shop-item-line-buy {
    right: 0%;

    width: 100px;
    height: 35px;

    font-size: 9pt;

    background-color: white;
    color: black;
}